
.scoreAndChoice{
    background-color: cornflowerblue;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: darkblue;
    margin: 50px 50px 0px 50px;
    padding: 10px;
}

.scoreContainer{
    display: flex;
    justify-content: space-evenly;
    font-family:sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 30px;
    border-width: 2px;
    border-style: dashed;
    border-color: rgb(230, 219, 168);
    background-color: cornflowerblue;
}

.buttonContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 50px 50px 50px;
    padding: 50px;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: darkblue;
    background-color: cornflowerblue;
}

.computerChoiceContainer{
    display: flex;
    justify-content: space-evenly;
    font-family:sans-serif;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
    border-width: 2px;
    border-style: dashed;
    border-color: rgb(230, 219, 168);
    background-color: cornflowerblue;

}

body{
    background-color:slategrey

}

.R:hover{
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 40px;
}
.R{
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border-style:double;
    border-width: 7px;
    border-color: darkgoldenrod;
    background-color:rgb(230, 219, 168);
}
.P:hover{
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 40px;
}
.P{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border-style:double;
    border-width: 7px;
    border-color: darkgoldenrod;
    background-color:rgb(230, 219, 168);
}
.S:hover{
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 40px;
}
.S{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border-style:double;
    border-width: 7px;
    border-color: darkgoldenrod;
    background-color:rgb(230, 219, 168);
}

.blur{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.popupWindow {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 600px;
    background: rgb(229, 241, 166);
    border: 2px solid white;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    z-index: 1000;
  }

.popupWindow h2 {
    font-size: 4rem;
    color:midnightblue;
}

.popupWindow button {
    height: 50px;
    width: 150px;
    border: 3px solid rgb(83, 83, 202);
    border-radius: 15px;
    border-width: 7px;
    border-style: double;
    font-weight: 600;
    background: transparent;
}

.popupWindow button:hover {
    background: rgb(184, 184, 184);
    cursor: pointer;
  }